<div class="container">
  <header>
    <h1>Electronic Voting System</h1>
  </header>

  <!-- Navigation Section -->
  <nav>
    <button (click)="showSection('login')">User Login</button>
    <button (click)="showSection('register')">User Registration</button>
    <button (click)="showSection('adminLogin')">Admin Login</button>
    <button (click)="showSection('voting')">Voting Panel</button>
    <button (click)="showSection('results')">View Results</button>
  </nav>

  <app-login *ngIf="currentSection === 'login'"></app-login>
  <app-register *ngIf="currentSection === 'register'"></app-register>
  <app-admin-panel *ngIf="currentSection === 'adminLogin'"></app-admin-panel>
  <app-voting-panel *ngIf="currentSection === 'voting' && isUserLoggedIn"></app-voting-panel>
  <app-results *ngIf="currentSection === 'results' && isAdmin"></app-results>
  
</div>
